/* Add your custom CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #ff7439;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    width: 100%;
}
main {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer {
    background-color: #000000;
    color: #ff7439;
    text-align: center;
    padding: 1em;
    width: 100%;
    font-weight: 800;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    cursor: pointer;
    border: 4.5px solid #ff7439;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 21px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-align: center;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 6px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 60%;
    flex-direction: column;
}
.modal-content {
    text-align: center;
}

#modalImage{
    border: 2px solid black;
}
.close {
    cursor: pointer;
}